# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
ENV/
env/
.venv/
.ENV/
env.bak/
env.backup/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE specific
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs and databases
*.log
*.sqlite3

# Ignore environment variable files
.env
.env.*

# Ignore SQL files
*.sql

# Ignore compiled notebooks
*.ipynb

# macOS Finder and system files
.DS_Store
.AppleDouble
.LSOverride

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db

# Python-specific package files
__pycache__/
*.pyc
*.pyo
*.pyd

# Python egg info
*.egg-info/
